
.main-container{
    margin: 0 auto;
    background-color:  hsl(210, 46%, 95%);
    
    width: 75%;    
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr );
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-areas: 
    "one one two three"
    "four five five three"
    ;
}

.container-one{
    grid-area: one;
   background-color: hsl(263, 55%, 52%); 
   color: white;
   padding: 4%;
   border-radius: 1rem;
   font-size: 13px;
}

h3{
 font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: large;

}

p{
 font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: medium;

}


.container-two{
    grid-area: two;
    background-color:  hsl(217, 19%, 35%);
    padding: 4%;
    border-radius: 1rem;
    color: white;
    font-size: 13px;
}

.container-three{
    grid-area: three;
    background-color: white;
    padding: 4%;
    border-radius: 1rem;
    color: hsl(217, 19%, 35%);
    
    font-size: 13px;
}

.container-four{
    grid-area: four;
    background-color: white;
    padding: 4%;
    border-radius: 1rem;
    font-size: 13px;
    color: hsl(217, 19%, 35%);
}

.container-five{
    grid-area: five;
    background-color: hsl(219, 29%, 14%);
    color: white;
    padding: 4%;
    border-radius: 1rem;
    font-size: 13px;
}

img{
    border-radius: 2rem;
}

.header-one{
    display: flex;
    flex-direction: row;
}

.header-two, .header-three,.header-four,.header-five{
    display: flex;
    flex-direction: row;
}

.pic-one{
    margin-right: 5%;
    margin-top: 2.5%;
}

.pic-two{
    margin-right: 5%;
    margin-top: 6%;
}

.pic-three{
    margin-right: 5%;
    margin-top: 5%;
}

.pic-four{
    margin-right: 5%;
    margin-top: 5%;
}

.pic-five{
    margin-right: 5%;
    margin-top: 2.5%;
}

.quote{
    margin-left: 25%;
    margin-top: 0;
    padding-top: 0;
}
